.main-frame{
    align-items:center;
    display: flex;
    justify-content: space-evenly;
    margin: 100px 0 0;
    width: 100%;
}

.produto {
    display: block;
    max-width: 400px;
}

.card-venda p {
    font-weight: 700;
}

.card-venda h2 {
    color: #ca3b3a;
    font-size: 35px;
    font-weight: 700;
    margin-bottom: 35px;
    /* height: 40px; */
}

.sub-spec {
    font-weight: bold;
}

.details .details-headphone {
    opacity: .7;
}

.details .itens {
    margin: 25px 0;
}
.payment {
    display: flex;
    margin: 30px 0 0 0;
    align-items: center;
}

.value {
    width: 150px;
    font-size: 27px;
    font-weight: bold;
    margin-right: 25px;
}

.btn-cart {
    border: none;
    width: 60%;
    padding: 16px 0;
    font-weight: 800;
    color: white;
    background-color: #ca3b3a;
    cursor: pointer;
}

.btn-cart:hover {
    background-color: #161616;
    transition: 250ms;
}

.btn-cart:active {
    background: #ce3030;
}  

/* Estrelas */
.estrelas {
    margin: 25px 0; 
    display: flex;
    align-items: center;
}

.estrelas .details-headphone{
    font-weight: 600;
    color: #ca3b3a;
    margin-left: 10px;
}

.estrelas input[type=radio] {
    display: none;
}

.estrelas label i.fa:before {
    font-size: 20px;
    content:'\f005';
    color: #ca3b3a;
}
.estrelas input[type=radio]:checked ~ label i.fa:before {
    color: #CCC;
}

@media screen and (max-width: 768px) {
    
    .main-frame{
        /* display: block; */
        align-items: center;
        justify-content: center;
        position: relative;
        flex-direction: column;
        margin: auto;
    }
    
    .card-venda {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 60vw;
    }

    .card-venda h2 {
        font-size: 2.1rem;
        font-weight: 700;
        margin-bottom: 20px;
        /* height: 35px; */
        width: 50vw;
    }

    .card-venda p {
        justify-content: left;
    }

    .details .itens {
        margin: 15px 0;
    }

    .estrelas {
        margin: 15px 0;
    }

    .estrelas label i.fa:before {
        font-size: 25px;
    }
}

@media screen and (max-width: 425px) {
    .card-venda {
        width: auto;
        font-size: 80%;
    }

    .card-venda h2 {
        font-size: 1.9rem;
        font-weight: 700;
        margin-bottom: 20px;
        height: 35px;
        width: auto;
    }

    .btn-cart {
        font-size: 0.9rem;
    }
}

@media screen and (max-width: 320px) {
    .produto {
        padding-left: 20px;
        max-width: 270px;
        height: 38vh;

    }

    .card-venda {
        width: auto;
        font-size: 80%;
        padding-left: 20px;
    }

    .card-venda h2 {
        font-size: 1.5rem;
    }

    .value {
        font-size: 1.5rem;
        margin-right: 0;
    }

    .btn-cart {
        border: none;
        width: 60%;
        padding: 16px 0;
        font-weight: 700;
    }
        
}

