header {
    display: flex;
    justify-content: center;
}

.top-bar {
    width: 1800px;
}

.top-bar nav {
    display: flex;
    margin: 0 5%;
}

.logo {
    display: flex;
    margin: 0;
    width: 100px;
}

.logo img {
    width: 100px;
}

.top-bar .nav1{
    display: flex;
}

.nav-1 {
    align-items: center;
    font-size: 18px;
    gap: 20px;
    justify-content: center;
    margin: 0 auto;
}

.nav-1 li {
    text-align: center;
    width: 100%;
}

.nav-1 a {
    cursor: pointer;
}

.nav-1 a::after {
    background-color: #ca3b3a;
    border-radius: 10px;
    content: '';
    display: block;
    position: relative;
    height: 2px;
    transform: scaleX(0);
    transform-origin: left;
}

.nav-1 a:hover::after {
    transform: scaleX(1);
    transform-origin: left;
    transition: .4s ease;
}

.nav-2 {
    align-items: center;
    display: flex;
    justify-content: space-around;
    width: 150px;
}
.nav-icons {
    list-style-type: none;
    cursor: pointer;
}

.nav-icons i {
    align-items: center;
}

@media screen and (min-width: 0) {
    .nav-1 {
        display: none;
    }

    .top-bar {
        display: flex;
        justify-content: space-around;
    }
}

@media screen and (min-width: 768px) {
    .nav-1 {
        display: flex;
    }

    .top-bar {
        display: flex;
        justify-content: space-between;
    }
}